aside {
    
    border-radius: 10px;
    padding-top: 10px;
padding-left: 10px;
padding-right: 80px;
padding-bottom: 10px;
    background-color: gainsboro;
    width: 400px;
    height: 628px;
        float: right;
        border: 1px solid black;
        position: relative;
        top: -660px;

}

#imageslespluspopulaires
{
    display: flex;
    flex-direction:column;
    
}

article
{

    background-color: gainsboro;
    border-radius: 10px;
    padding: 6px;
    width: 884px;
    height: 600px;
    justify-content:  space-evenly;
 
}

article img {
    object-fit: contain;
}

#bloc_page
{
    font-family: raleway;
}

h3
{
    font-size: 14px;
}
h1
{
    font-size: 18px;
    font-family: raleway;
}

#logo img
{
    width: 75px;
    height: 40px;
}

#navigation { 
display: flex;
flex-direction: column;
position: absolute;
right: 10px;
 top: 10px;
}


#navfooter {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-end;
background-color:gainsboro
}


#Filtre
{
    border-radius: 10px 5px 10px 5px;
}



figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    max-width: 220px;
    margin: auto;
}

img {
    max-width: 220px;
    max-height: 150px;
    padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;

}



figcaption { 
   float: right;
    background-color:white;
    color:black;
    font-family: raleway;
    font-weight: bold;
    padding: 3px;
    text-align: center;
    
}

#actmarseille
{
    width: 500px;
    padding-top: 30px;
    display: flex;
    flex-direction:column;
    
}

#actmarseille img {
 display: flex;
    max-width: 300px;
    max-height: 300px;
    padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
}

body{

font-family: raleway;
}

footer {

    padding-top: 30px;
}

article img{

    display: flex;
    flex-direction: row;
}
