aside {
    
    border-radius: 10px;
    padding: 8px;
    background-color: gainsboro;
    width: 443px;
    height: 628px;
        float: right;
        border: 1px solid black;
        position: relative;
        top: -660px;

}

#imageslespluspopulaires
{
    display: flex;
    flex-direction:column;
}

article
{

    background-color: gainsboro;
    border-radius: 10px;
    padding: 6px;
    width: 884px;
    height: 653px;
    justify-content:  space-evenly;
}


#bloc_page
{
    font-family: raleway;
}

h3
{
    font-size: 14px;
}
h1
{
    font-size: 18px;
    font-family: raleway;
}

#logo img
{
    width: 75px;
    height: 40px;
}

#navigation { 
display: flex;
justify-content:space-evenly;
position: absolute;
right: 0px;
 top: 0px;
}


#navfooter {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-end;
background-color:gainsboro
}

#image
{
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   display: inline-block;
 vertical-align: top;
}


#Filtre
{
    border-radius: 10px 5px 10px 5px;
}



figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    max-width: 220px;
    margin: auto;
}

img {
    max-width: 220px;
    max-height: 150px;
}


figcaption {
    background-color:white;
    color:black;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#actmarseille
{
    flex-wrap: wrap;
}
