





body{

    font-family: raleway
    }

h3
{
    font-size: 18px;
    margin-left: 15px;
}
h1
{
    margin-left: 15px;
    font-size: 24px;
    font-family: raleway;
}

.logo h3 {
 font-weight:300;
}

.logo img
{
    width: 150px;
    height: 70px;
    margin-left: 15px;
}

.titre {

    position: relative;
    bottom: -20px;
    
}

.t1 {

    position: relative;
    bottom: -23px;
}

.t2 {
        
   
    display: flex;
    flex-direction: row;
}

.t3 {

    position: relative;
    bottom: -20px;
}

.t3 h3 {

    font-weight:300;
}

.recherche input{

font-weight:bold;
font-size: 16px;

position: relative;
top: -5px;
right: -16px;
height: 60px;
width: 200px;
}



.recherche i {

    display: inline-block;
    border-radius: 0,5em 0 0 0.5em;
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px;
    position: relative;
    bottom: -55px;
    height: 21px;
right: -10px;
    
}

button {
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 60px;
    width: 160px;
    position: relative;
    right: -10px;
    top: -5px;
    font-size: 16px;
}


form {
    margin-left: 15px;
    padding-left: 30px;
    }
    

    
.navigation { 
    display: flex;
    align-items: space-between;
    justify-content: flex-end;
    align-items: flex-start;
   position: relative;
   top: -350px;
   bottom: -60px;
   left: -170px;
    
    }
  .navigation h3 {
    
      font-size: 20px;
      font-weight: 300;
  }
    .heb {
        padding-right: 45px;
        padding-top: 5px;
        color: blue;
      
      border: 1px 0 0 0;
      border-top: blue;
      border-bottom: none;
      border-left: none;
      border-right: none;
      border-style:solid none none none;
     
    }
    
    .act {
        padding-right: 20px;
        padding-top: 5px;
        font-weight: 300;
    }
    .sin {
        padding-right: 10px;
        padding-left: 15px;
        padding-top: 5px;
        color:blue;
        font-weight: bold;
    }
    
    .navigation li {
        
        display: flex;
        align-items: space-between;
    }
    

.navigation ul {
        display: flex;
        flex-direction: row;
    
    }


    .navigation li a {
        text-decoration: none;
    }


    .Filtre-container
{
    font-family: raleway;
position: relative;
top: -60px;
left: -15px;
display: flex;
flex-direction: row;
justify-content: space-between;
}



.Filtre-container i {


    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-top: 17px;
    padding-left:17px;
    padding-right:17px;
    padding-bottom: 17px;
    margin-left: 15px;
    position: relative;
    top:-2px;
    left: -15px;
    text-align: center;
    font-size: 25px;

}


.Filtre-container i:hover{
    color:blue
}



.eco {
    border-radius: 40px 40px 40px 40px;
    border-style: solid;
    border-color: lightgray;
    margin-left: 10px;
    padding-right:50px;
    padding-top: 5px;
    position: relative;
    left: -120px;
    
}

.eco i {
    text-align: center;
}

.eco:hover{
    color: blue;
    background-color:cornflowerblue;
}


.fam {
    border-radius: 40px 40px 40px 40px;
    border-style: solid;
    border-color: lightgray;
    padding-right: 50px;
    padding-top: 5px;
    position: relative;
    left: -220px;
}




.fam:hover{
    color: blue;
    background-color:cornflowerblue;
}

.rom {
    
    border-radius: 40px 40px 40px 40px;
    border-style: solid;
    border-color: lightgray;
    padding-right: 50px;
    padding-top: 5px;
    position: relative;
    left: -320px;
}

.rom:hover{
    color: blue;
    background-color:cornflowerblue;
}

.ani {
    border-radius: 40px 40px 40px 40px;
    border-style: solid;
    border-color: lightgray;
    padding-right: 50px;
    padding-top: 5px;
    position: relative;
    left: -420px;
  
}

.ani:hover{
    color: blue;
    background-color:cornflowerblue;
}

.Filtre p {

font-size: 20px; 
 margin-left: 15px;
}



.infoslogement-container {
position: relative;
top: -55px;
right: -20px;
    padding-left: 15px;
}

.infos2 {

    position: relative;
    top: -39.5px;
    right: -334px;

}


.infoslogement-container i{
    position: relative;
    top: 40px;
    left: -10px;
    background-color: #0065FC;
    color: white;
    border-radius: 30px 30px 30px 30px;
    border-color: lightgray;
    border-width: 3px;
 
   
}

.infoslogement-container h3{
    font-weight: 300;
}





article
{
    
    background-color: gainsboro;
    border-radius: 10px;
    margin-left: 15px;
    padding: 6px;
    width: 1100px;
    height: 900px;  
    position: relative;
    top: -40px; 
}


.hebergement-titre {

    margin-left: 20px;
    padding-top: 20px;

}

.hebergementpic {

    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding-top: 50px;
}



.afficher {
    padding-left: 20px;
   
}

article i {
    color: #0065FC;
    position: relative;
    top: -15px;
}

article img {
    width: 300px;
    height: 200px ;
    object-fit: cover;
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    
}




article h3{
        font-weight:300;
    position: relative;
    left: -15px;
    top: -9px;
    }
   

    .pic1 {

padding-bottom: 20px;

    }

    .pic2 {

        padding-bottom: 20px;

    }


    .pic3 {

        padding-bottom: 20px;
        
    }
    
   

       

article figure {

    border: thin #c0c0c0 solid;
   
    border-color: white;
    background-color: white;
    display: flex;
    flex-flow: column;
    max-width: 330px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
     box-shadow: 10px 10px 12px #555;
    
}

article figcaption { 
  
    background-color:white;
    color:black;
    font-family: raleway;
    font-weight: bold;
    font-size: 20px;
    text-align:start;
    margin-left: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}  


aside {  
    border-radius: 10px;
    padding-top: 10px;
padding-left: 10px;
padding-right: 80px;
padding-bottom: 10px;
    background-color: gainsboro;
    width: 400px;
    height: 895px;
    position: relative;
    top: -955px;
    left:-150px;
        float:right;
      
       
}

.titre-a {

margin-left: 20px;
padding-top: 20px;
}


aside figure
{
    border: thin #c0c0c0 solid;
   
    border-color: white;
    background-color: white;
    display: flex;
    flex-flow: column;
    width: 400px;
    margin-left: 15px;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 10px 10px 12px #555;
}

aside figcaption { 
  
    background-color:white;
    color:black;
    font-family: raleway;
    font-weight: bold;
    font-size: 20px;
    text-align:left;
    margin-left: 180px;
    margin-top: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    height: 50px;
    
}

.chart {

    display: flex;
 justify-content: flex-end;
position: relative;
top: -65px;
}

.chart i

{
    font-size: 30px;
    color: black;
}



aside i {
    color: #0065FC;
   padding-top: 10px;

}



aside img {
width: 150px ;
height: 180px;
object-fit: cover;
padding-bottom: 10px;

margin-left: 5px;
margin-top: 10px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;

}


aside h4 {
    font-weight: 300;
    text-align: left;
    position: relative;
    top: -20px;
}

.actmarseille
{
    margin-left: 15px;
    width: 500px;
    padding-top: 30px;
    display: flex;
    flex-direction:row;
  justify-content: space-between;
    
}



.actmarseille img {
 
box-shadow: 1px 1px 12px #555;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
box-shadow: 10px 10px 12px #555;
}

.actmarseille figure {

    border: thin #c0c0c0 solid;
   
    border-color: white;
    background-color: white;
    display: flex;
    flex-flow: column;
    max-width: 400px;
    margin: auto;
    border-top-left-radius: 20x;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
   
    
}

.actmarseille figcaption { 
  
    background-color:white;
    color:black;
    font-family: raleway;
    font-weight: bold;
    font-size: 20px;
    text-align:left;
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 10px 10px 12px #555;
}



.actmarseille h1 {
margin-top: 20px;
position: relative;
left: 50px;
}

.actmarseille1 {
    margin-right: 30px;
}

.actmarseille1 img {

    height: 500px;
    width: 350px;
    object-fit: cover;

}

.actmarseille2 {
    display: flex;
    flex-direction: column;
    
    margin-right: 30px;
    margin-left: 30px;
    
}





.actmarseille3 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right:20px;
    position: relative;
    top: -80px;
   
   
}




.actmarseille4 {
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
    top : -20px;
}

.actmarseille2 img {
    height: 230px;
    width: 330px ;
    object-fit: cover;
}

.actmarseille3 img {
    max-height: 230px;
    width: 330px ;
    
}

.actmarseille4 img {
    height: 500px;
    width: 350px;
    object-fit: cover;
}

.actmarseille3 figure {
    height: 200px;
    max-width: 500px ;
    
}

.actmarseille5 {

    padding-top: 20px;

}


footer {

   
    font-family: raleway;
    
    background-color:gainsboro;
    width: 100%;
    
    
    margin-top: 70px;
  
    
    

}

.navfooter  {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
   padding-top: 20px;
    
}


footer h3
{
margin-left: 2px;
font-size: 20px;
}
footer li {
    list-style: none;
}






@media all and (max-width: 600px)

{


.logo img {
height: 20%;
width: 20%;
position: relative;
        top : -95px;
        left: -15px;

}

.navigation {



position: relative;
left: 15px;
top: -475px;
}

    header {
        margin-top: 100px;
    }


    .t1 {
position: relative;
left: -15px;
top: -30px
    }


    .t2 h1 {

        font-size: 24px;
      position: relative;
      left: -15px ;
      top : -60px;

    }
   



.t3 h3 {

    font-weight:300;
    position: relative;
    top: -40px;
    left: -15px;
}

.recherche {

position: relative;
top: -80px;
left:-10px;

}

button {

    position: relative;
    right: -200px;
    top: -65px;
}



.heb {
       
    border: 0 0 1px 0;
          border-top: none;
          border-bottom: blue;
          border-left: none;
          border-right: none;
          border-style: none none solid none;
    
    
    
         }
    
    .act {
    
      
        
        border: 0 0 1px 0 ;
       
        border-top: none;
          border-bottom: lightgray;
          border-left: none;
          border-right: none;
          border-style: none none solid none;
    
    
    }
    
.sin {

    position: relative;
    top: -50px;
    left: -60px;

}



.Filtre {

    position: relative;
   top: -170px;
   left: -10px;
}



.eco {

    
    display: flex;
flex-direction: row;
align-items: center;
    position: relative;
    top: -90px;
 margin-left: 60px;
   
    
}

.eco i {

    padding-top: 17px;
    padding-left:17px;
    padding-right:17px;
    padding-bottom: 17px;
    
}

.fam {

    position: relative;
    left: -360px;
 
    display: flex;
    flex-direction: row;
    
    align-items: center;

}

.rom {
position: relative;
top: 90px;
left : -570px;
display: flex;
flex-direction: row;
align-items: center;

}

.ani {

position: relative;
top: 180px;
left: -800px;
display: flex;
flex-direction: row;
align-items: center;
}


.infoslogement-container {

    margin-top: 100px;
    


}

.infos1 {
    position: relative;
    top: 90px;
    left: -30px;

}

.infos2 {

    position: relative;
    top: 90px;
    left: -30px;
}

  

    aside {

      position: relative;
      left: 65px;
      top: -1500px;
     
    }

    

    article {

        width: auto;
        background-color: white;
padding-top: 580px;
position: relative;

    }

   


    article img {

        width : 300px

    }

    article figure {

       max-width: 330px;

    }


   
    .pic1 {
        padding-bottom: 10px;
        padding-left: 40px;
        position: relative;
        left: -40px;
        
    }

 
    

    .pic1 figure {

        width: 310px;

    }


    .pic2 {
        padding-bottom: 10px;
        padding-left: 40px;
        position: relative;
        left: -40px;
       
    }

  

    .pic2 figure {

        width: 310px;
    }

    .pic3 {
        padding-bottom: 6px;
        padding-right: 3px;
       
    }

    

    .pic3 figure {

        width: 310px;
    }

    


.pic4 {
    padding-bottom: 10px;
    padding-left: 20px;
    position: relative;
    left: -20px;
    top: 0px;
}

.pic4 img{

width: 300px;


}

.pic4 figure {
    max-width: 330px;
  
}

.pic5 {
    position: relative;
    left: -10px;
    top:0px;
    padding-bottom: 10px;
}

.pic5 figure {
    width: 310px;
}

.pic6 {

    position: relative;
    left: -10px;
    top:0px;
}

.pic6 figure {

    width: 310px;
}


.afficher {

    position: relative;
    top:-200px;

}

    .actmarseille0 {

        
     margin-top: 750px;
     position: relative;
     left: 20px;

       }

       .actmarseille {

        
        flex-direction: column;
   position: relative;
   left: -70px;
          }
   
.actmarseille1 {

    
    padding-bottom: 20px;
}

          .actmarseille1 figure {
             width: 300px;

          }

          .actmarseille1 img {
            width: 300px;
        
         }

       .actmarseille img {

        width: 300px;
        height: 150px;
       }

       .actmarseille figure {

        max-width: 330px;
        
       }




.actmarseille2 figure {
   padding-bottom: 15px;

}

.act1 figure {
    width:300px;
    
}

.act2 {

    padding-bottom: 20px;
  
}
.act2 figure {
    width: 300px;
}

.pic4 figure {

    width: 310px;
     

}


.pic1 figure {

   width: 310px;
   

}



.actmarseille4  {

    
 padding-bottom: 20px;
 }

 .actmarseille4 figure {

   width: 300px;
 
 }

       footer {

        max-width: 100%;
       display: flex;
       flex-direction: column;

    }


    footer ul {

        
        text-align: left;
 
     }

   



     .nos {

        position: relative;
        left: -100px;
    }


    .ass {

        position: relative;
        left: -150px;
    }
